.sub-navbar {
    background-color: #2d333b; 
    padding: 10px 0;
}

.sub-navbar .nav-link {
    color: #f5f5f5;
    font-size: 1rem;
    margin: 0 15px;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s; 
}

.sub-navbar .nav-link:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.sub-navbar .nav-link.active {
    border-bottom: 2px solid #f5f5f5;
}

.sub-navbar{
    padding-block: 0.4px;
}

.sub-navbar li{
    margin-left: 2rem;
}

.content-area {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    margin-top: 20px;
}

.bg-dark-blue {
    background-color: #003366; 
}

.search-container {
    background-color: #f1f1f1;
    border-radius: 50px;
    padding: 1px;
    position: relative;
    width: 500px; 
    margin: 0 auto; 
}

.search-input {
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 50px;
    padding-left: 45px; 
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.search-button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding-right: 15px;
    padding-left: 15px;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.navbar .rounded-circle {
    border: 2px solid #fff;
}

.navbar .text-white {
    font-size: 0.9rem;
}

#navbarSupportedContent input:focus {
    background-color: #f1f1f1;
}

