
.main-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* margin: 0; */
    background-color: #ffffff;
    color: #333;
}

.containerr {
    text-align: center;
    max-width: 400px;
    width: 90%;
    /* margin: 20px auto; */
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* .logo img {
    width: 520px;
} */



.header-links {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}
.header-links a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
    font-weight: bold;
}
.content {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
    margin-block: 20%;
}
.content img {
    width: 70px;
    margin-bottom: 20px;
}
.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.content p {
    font-size: 16px;
    margin-bottom: 30px;
}
.content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.content button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.content button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
.content button:hover {
    background-color: #19791e;
}
.content .cancel {
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}
.content .cancel:hover {
    text-decoration: underline;
}
.content .alert {
    color: red;
    font-size: 14px;
    display: none; 
    margin-bottom: 20px; 
}
.footer {
    /* margin-top: auto; */
    /* text-align: center; */
    /* width: 100%; */
    padding: 20px 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    bottom: -36px;
    /* position: absolute;
    bottom: 0; */
}
.footer p {
    /* margin: 0; */
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .logo img {
        width: 80px;
    }
    .content {
        padding: 20px;
    }
    .content h1 {
        font-size: 20px;
    }
    .content p, .content input {
        font-size: 14px;
    }
    .content button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 70px;
    }
    .content {
        padding: 15px;
    }
    .content h1 {
        font-size: 18px;
    }
    .content p, .content input {
        font-size: 12px;
    }
    .content button {
        font-size: 12px;
        padding: 8px 16px;
    }
    .header-links a {
        font-size: 12px;
    }
}

.log-in {
    color: green !important;
}

.log-in:hover {
    text-decoration: underline !important;
}